<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../views/assets/css/style.css">
    <title>Home</title>
</head>

<body>
    <header>
        <nav id="menu" class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">ForLogic</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/clientes">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/avaliacoes">Avaliações</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/resultados">Resultados</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div id="home" class="">
        <div class="col-9 align-self-center">
           <h1>Clientes</h1>
           <p>Possuimos {$totalClientes} clientes cadastrados.</p>
           <a class="btn btn-primary" href="/clientes" role="button">Ir para clientes</a>
        </div>       
    </div>
    <div id="avaliacoes" class="">
        <div class="col-9 align-self-center">
           <h1>Avaliações</h1>
           <p>As as valiações verificam os níveis de satisfação dos nossos clientes com nossos produtos.</p>
           <a class="btn btn-primary" href="/avaliacoes" role="button">Ir para avaliações</a>
        </div>       
    </div>
    <div id="resultados" class="">
        <div class="col-9 align-self-center">
           <h1>Resultados</h1>
           <p>As avaliações são realizadas por 20% de nossos clientes para 
               sabermos como anda a aceitação de nossos produtos.
           </p>
           <a class="btn btn-primary" href="/resultados" role="button">Veja os resultados</a>
        </div>       
    </div>
    <div >
        <div class=" align-self-center">
            <a href="#menu"><img id="voltar"  src="../views/assets/images/voltar-topo.png"></a>
         </div> 
    </div>
    <footer>
        <div class="row justify-content-center">
                <p>© Todos os direitos reservados.</p>
        </div>
    </footer> 
   
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>